<div class="square @squarer.color" @onmouseup="ValidateHit">

    
    <div class="@squarer.Style">
        @if (@squarer.contador > 0 && @squarer.Style!="character")
            @squarer.contador

    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnmouseUp{ get; set; }
    [Parameter]
    public BlazorApp13.Models.Square squarer { get; set; }
    private void ValidateHit()
    {
        OnmouseUp.InvokeAsync(new EventArgs());
    }
}
