@page "/levels"
@using BlazorApp13.Models
@using BlazorApp13.Services
@using Microsoft.JSInterop
@inject HttpClient Http
@using CurrieTechnologies.Razor.SweetAlert2
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigation
@inject SweetAlertService swal
@inject DataServices data
@inject LevelServices LevelService
@inject ShowAlertServices showAlert
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
    
    <div  class="header">
        <span title="reiniciar" @onclick=" ResetGame">
            <Icon Name="IconName.Redo" />


        </span>
        <span title="rehacer" @onclick="Back">
            <Icon Name="IconName.Reply" />


        </span>
        <span title="tutorial" @onclick="Tutorial">
            <Icon Name="IconName.Info" />


        </span>
        <span title="score">@board.contador</span>
        
       
      
    </div>
    <div style="--columns: @level.Row; --black: @level.Black; --white: @level.White;" class="board">
        @foreach (var item in squares)
        {
            <BlazorApp13.Componets.Squarer squarer="item" OnmouseUp="()=>MouseUp(item)" />
        }
    </div>

    <div class="footer">
        <BlazorApp13.Componets.Temporizador />
        <span>High Score: @player.Score</span>
        <div>
            <Span title="salir" @onclick="Exit">

                <Icon Name="IconName.Times" />

            </Span>
        </div>

    </div>
       
</div>